@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

h1,
h2 {
  color: darkblue;
}

.row {
  width: 80%;
  margin: auto;
}

.content {
  text-align: center;
  background-color: #abcdef;
  padding: 30px 30px;
  width: 80%;
  margin: 60px auto;
  border-radius: 10px;
}

.article-tile {
  background-color: azure;
}
